{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

    {% if products|count > 0 %}
    <main class="choose-items-grid">
        {% for p in products %}
        <div class="item-card">
            <a href="{% url 'product-detail' p.pid %}" class="item-card-image-container">
                <img class="item-card-image" src="{{ p.image.url }}" alt="">
            </a>
            <p class="item-card-vendor">{{ p.vendor }}</p>
            <div class="item-card-content">
                <a href="{% url 'product-detail' p.pid %}">{{ p.name }}</a>
                <h2>{{ p.price|rupee }}</h2>
                <p>⭐ 4.5 (3746)</p>
                <p>FREE delivery <strong>Fri, 22 Aug</strong></p>
                {% if user.is_authenticated and p.pid in cart_products %}
                    {% with user_cart|get:p.pid as cart_item %}
                        <div class="js-add-to-cart-{{ p.pid }} cart-added-item-button"><button class="js-update-quantity update-quantity-button" style="font-size: 12px; font-weight: bold" data-product-id = {{ p.pid }} data-sub = "true">-</button><p class="item-quantity-{{ p.pid }}">{{ cart_item.quantity }}</p><button class="js-update-quantity update-quantity-button" style="font-size: 12px; font-weight: bold" data-product-id = {{ p.pid }} data-sub = "false">+</button></div>
                    {% endwith %}
                {% else %}
                <div class="js-add-to-cart-{{ p.pid }}"><button class="btn add-to-cart-button js-update-quantity" data-product-id = {{ p.pid }} data-sub="false">Add to cart</button></div>
                {% endif %}
            </div>
            
        </div>
        {% endfor %}
    {% else %}
    <main class="empty-choose-items-container">
        <p class="no-items-text">There are no Items Available</p>
    </main>
    {% endif %}

    </main>
{% endblock %}