{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

    {% if products %}
    <main class="choose-items-grid">
        {% for p in products %}

            {% include "home/includes/prod_card.html" with prod=p cart_products=cart_products %}

        {% endfor %}
    </main>
    {% else %}
    <div class="empty-choose-items-container">
        <p class="no-items-text">There are no Items Available</p>
    </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'home/js/search.js' %}"></script>
{% endblock %}