{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
        <div class="home-content-background"></div>
        <div class="home-content">
            <div class="offers-div">
                <div class="home-title-section">
                    <div class="homepage-logo-section">
                        <img class="grabzy-logo-img-homepage" src="{% static 'images/grabzy-log.svg' %}" alt="grabzy-logo-homepage">
                        <h1 class = "offers-div_title">Grabzy</h1>
                    </div>
                    
                    <h2 class = "offers-div_heading">Redefining the Way You <span class="highlighted-text">Shop</span> Online.</h2>
                </div>
                
            </div>
            
            <div class="category-section">
                <h2 class="category-section_title">Shop by Category</h2>
                <p class="category-section_text">Find exactly what you're looking for</p>
                <div class="category-cards-section">
                    {% for category in categories %}
                    <a href="{% url 'category-products' category.title %}" class="category-card">
                        <img src="{{ category.image.url }}" alt="{{ catrgory.title }}-image" class="category-image">
                        <h4 class="category-card_title">{{ category.title }}</h4>
                    </a>
                    {% endfor %}
                </div>
            </div>
         
            <div class="trending-section">
                <h2 class = "trending-section_title">Trending products</h2>
                <p>Most popular items this week</p>

                <div class="scrollabale-items-grid">
                    {% for prod in popular_products %}
                        
                        {% include 'home/includes/prod_card.html' with prod=prod cart_products=cart_products %}
 
                    {% endfor %}

                </div>

                
            </div>

        </div>

{% endblock %}

{% block scripts %}
        <script type="module" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}