{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <main class="profile-main-container">
        <div class="profile-container">
        
            <div class="profile">
                <h4 class="profile_title">Account Information</h4>
                <button class="edit-information-button js-edit-information-button" data-user-pk = "{{ user.pk }}">Edit Information</button>
                <div class="account-section">
                    <div class="profile-image-container">
                        <img src="{{ user.user_profile.profile_pic.url }}" alt="" class="profile-image">
                    </div>
                    <div>
                        <p>{{ user.username }}</p>
                        <p class="profile-email">{{ user.email }}</p>
                    </div>
                </div>
            </div>

            {% if orders %}
            <div class="orders-container">
                <h4 class="orders-container_heading">Your Orders ({{ orders|count }})</h4>
                {% for order in orders %}
                    <div class="order">
                        <img src="{{ order.product.image.url }}" alt="" class="order-image">
                        <div class="order-content">
                            <p class="order-item-heading">{{ order.product.name }}</p>
                            <p class="text-1_2rem grey-text">{{ order.ordered_at|date:"M d, g:iA" }}</p>
                            <div class="order-details-section">
                                <div>
                                    <p class="small-text">Order ID</p>
                                    <p>{{ order.oid }}</p>
                                </div>
                                <!-- <span class="new-price">→</span> -->
                                <div>
                                    <p class="small-text">Price</p>
                                    <p class="text-1_2rem new-price">₹{{ order.price }}</p>
                                </div>
                                <div>
                                    <p class="small-text">Quantity</p>
                                    <p class="text-1_2rem new-price">{{ order.quantity }}</p>
                                </div>
                                <!-- <p class="offer-percentage">13% OFF</p> -->
                            </div>
                            <p>Total Cost: {{ order.quantity|multiply:order.price|rupee }}</p>
                            <div class="order-buttons-container">
                                <a class="btn btn-primary" href="{% url 'product-detail' order.product.pid %}">View Product</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="no-orders-container">
                You have no orders yet...
            </div>
            {% endif %}

        </div>
        
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'users/js/profile.js' %}"></script>
{% endblock %}