:root{
    /* --font-color-grey: #5d626b; */
    --font-color-grey: #4a5565;
    --bold-font-weight: 700;
    --normal-font-weight: 400;
    --normal-letter-spacing: 1.2;
    --footer-height: 12.6rem;
    --nav-height: 6rem;
    --primary-color: #384354;
    --secondary-color: #1E293B;
    --whitesmoke-color: #f5f5f5;
    --white-color: #ffffff;
    --h1-font-size: 4.8rem;
    --h2-font-size: 4.0rem;
    --h3-font-size: 3.2rem;
    --h4-font-size: 2.4rem;
    --p-font-size: 1.6rem;
    --a-font-size: 1.4rem;
    --small-font-size: 1.2rem;


    /* --text-color-primary: #1f1f1f;
    --text-color-secondary: #434141;
    --text-color-grey: #99a1af;
    --text-color-white: #ffffff;
    --normal-font-weight: 400;
    --bold-font-weight: 700;
    --tight-letter-spacing: -2px;
    --normal-letter-spacing: -1.2px; */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scrollbar-width: none;
}

p{
    font-size: var(--p-font-size); /* 1.4rem */
    margin-bottom: 0;
}

/* option{
    font-size: 1.4rem;
} */

a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--secondary-color);
}

button{
    display: inline-block;
}


h1, h2, h3, h4{
    color: var(--secondary-color);
    font-weight: var(--bold-font-weight);
    /* letter-spacing: var(--tight-letter-spacing); */
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}


/* -------------------Element------------------- */

body{
    font-family: "poppins", sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 10000;
}

ul li{
    list-style: none;
}

/* -------------------Selector------------------- */

.main-container{
    background-color: var(--whitesmoke-color);
    max-width: 2560px;
    width: 100%;
    margin: 0px auto;
}

.nav-bar{
    height: var(--nav-height);
    background-color: var(--whitesmoke-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
}

.nav-icons{
    height: 98%;
    padding: 5px;
    transition: 0.5s;
}
.nav-icons:hover, .nav-icons:active{
    /* border: 1.5px solid var(--secondary-color); */
    transform: scale(1.1, 1.1);
}

.grabzy-logo{
    box-sizing: content-box;
    height: 100%;
}

.grabzy-logo-img{
    max-height: 3.8rem;
}

.homepage-logo-section{
    display: flex;
    align-items: center;
    /* animation: bump 2s linear; */
}

.home-title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    top: 35%;
}

.grabzy-logo-img-homepage{
    width: 10rem;
}

.nav-text{
    color: var(--font-nav-color);
    line-height: 10px;
    font-size: var(--a-font-size);
}

.nav-right{
    display: flex;
    align-items: center;
    align-content: stretch;
    gap: 3rem;
    height: 100%;
}

.bold-text{
    font-weight: var(--bold-font-weight);
    font-size: var(--a-font-size);
    color: var(--secondary-color);
}

.nav-search{
    display: flex;
    align-items: stretch;
    width: 50rem;
}

#form-search{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


.nav-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.search-input{
    font-size: var(--p-font-size);
    outline: none;
    height: 3.8rem;
    margin: 0;
    border: none;
    padding: 10px;
    flex: 1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-icon-div{
    height: 3.8rem;
    border: none;
    padding: 0px 8px;
    background-color: var(--primary-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* justify-self: flex-end; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;

}

.search-icon-div:hover, .search-icon-div:active{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.search-icon{
    height: 2.4rem;
}

.nav-lang{
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav-flag{
    background-color: transparent;
    height: 2rem;
}

.nav-cart{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    position: relative;
}

.cart-image{
    height: 5.6rem;
}

.cart-count{
    font-weight: var(--bold-font-weight);
    color: var(--secondary-color);
    position: absolute;
    left: 2.9rem;
    padding-bottom: 8px;
}

.home-content-background{
    padding-bottom: 2rem;
    max-width: 2560px;
    width: 100%;
    height: 100vh; /* 500px */
    background-image: url("../images/cover-image.jpg");
    background-repeat: no-repeat;        /* Prevents tiling */
            /* Centers the image */
    background-size: cover;             /* Fills screen proportionally */
    background-attachment: scroll;      /*  Stays fixed while scrolling */
    background-color: var(--whitesmoke-color);
    position: absolute;
}

.offers-div_title{
    font-size: 3rem;
    font-weight: 700;
}

.offers-div{
    width: 100%;
    height: 100vh; /* 500px */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.offers-link{
    width: 85%;
    height: 100%;
    /* background-color: white; */
}

.offers-div_heading{
    font-size: var(--h4-font-size); /* 2.8rem */
    font-weight: 600;
    text-align: center;
    /* background: linear-gradient(90deg, #1fc4b0, #fba962, #f77f52); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    letter-spacing: -0.5px;
    animation: fadeIn 1s ease-in-out;
}


.highlighted-text{
    font-size: var(--h4-font-size);
    color: var(--white-color);
    padding: 3px 6px;
    border-radius: 10px;
    background: linear-gradient(60deg, #1fc4b0, #fba962, #f77f52);
    position: relative;
    z-index: 3498;
}

/* .home-card{
    height: 38.6rem;
    width: 28.6rem;
} */

.category-section{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20rem 20px 10rem 20px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;;

}
.category-section_title, .trending-section_title{
    margin: 10px;
    font-size: 2rem;
    font-weight: var(--bold-font-weight);
}

.category-section_text{
    margin-bottom: 2rem;
}

.category-cards-section{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    overflow: scroll;
    scrollbar-width: none;
}

.category-card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem; /* 250px */
    height: 25rem; /* 250px */
    border-radius: 4px;
    overflow: hidden;
    transition: 1s ease;
    flex-shrink: 0
    
}

.category-image{
    width: 100%;
    transition: 1s;
}

.category-card:hover .category-image{
    transform: scale(1.2);
}


.category-card_title{
    color: var(--white-color);
    font-weight: var(--bold-font-weight);
    font-size: 2rem;
    position: absolute;
    transform: translateY(800%);
    z-index: 1245;
    transition: 1s ease;
}

.category-card:hover .category-card_title{
    transform: translateY(0);
}

.category-card::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #24232364;
    opacity: 0;
    z-index: 12;
    transition: 0.5s ease-in-out;
}


.category-card:hover::after{
    opacity: 1;
    transform: scale(1.2);
    animation: fadeIn 0.5s;
}


.home-card{
    margin: 2rem 0px;
    padding: 1rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    align-content: space-around; 
    justify-content: space-around;
}

/* .js-add-to-cart{
    display: flex;
    height: 30px;
    border-radius: 40px;
    border: 3px solid var(--secondary-color);
} */


.item-quantity{
    font-size: var(--p-font-size);
}

.update-quantity{
    font-size: var(--a-font-size);
    font-weight: bold
}


/* .updated-add-to-cart{
    height: 30px;
    border-radius: 40px;
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
} */

.home-card-inner-div{
    background-color: var(--white-color);
    position: relative;
    z-index: 1000;
    /* width: 100%;
    height: 100%; */
    max-height: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
}

.home-card-inner-div h2{
    padding: 1rem;
}

.home-card-grid{
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    row-gap: 2.6rem;
    align-items: center;
    justify-items: center;
}

.grid-item{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.grid-item p{
    font-size: var(--a-font-size);
}

.home-card-items{
    height: 30rem;
    width: 30rem;
}

.home-card-items-image{
    max-height: 140px;
    width: 100%;
}

.see-more-option{
    margin-top: 1rem;
}

.footer-links{
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 10px;
    gap: 1rem;

}

.footer-links_title{
    color: var(--white-color);
    font-size: var(--a-font-size);
    font-weight: 500;
    margin-bottom: 5px;
}


.social-media-links{
    display: flex;
    gap: 5rem;
    height: 4rem;
}

.social-media-icon{
    width: 2.5rem;
    transition: 0.6s;
}

.social-media-icon:hover{
    transform: scale(1.1);
}

.footer-small-text{
    font-size: var(--small-font-size);
    color: var(--white-color);
}

/* -------------Choose-items----------------------*/

.choose-items-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 2rem;
    background-color: var(--whitesmoke-color);
    justify-content: center;
    min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

.empty-choose-items-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

.no-items-text{
    font-size: 3rem;
    color: var(--font-color-grey);
    /* text-align: center;
    vertical-align: middle; */
}

.scrollabale-items-grid, .related-products{
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    background: var(--whitesmoke-color);
}

.related-products{
    padding: 5px;
    margin-bottom: 1rem;
}

.trending-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;;
}

.item-card-image-container{
    flex-shrink: 0;
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    align-self: center;
}

.item-card-image{
    width: 100%;
    max-height: 22rem;
    transition: 0.5s ease; 
}

.item-card-image:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.item-card{
    height: 46rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 15px 5px;
    border: 0.3px solid #ECEEEE;
    background-color: var(--white-color);
    /* justify-content: space-between; */
    border-radius: 8px;
}

.item-card-vendor{
    margin-top: 1rem;
    color: #a09d9d;
    font-size: var(--a-font-size);
    padding-left: 5px;
}

.item-card-content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    padding-left: 5px; 
}

.item-card-content a{
    height: 2.4rem;
    flex-shrink: 0;
    font-size: var(--p-font-size);
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item-card a:hover{
    color: var(--secondary-color);
}

.item-card-delivery{
    font-size: var(--a-font-size);
}

.item-card-review{
    font-size: var(--a-font-size);
}

/* -------------Cart----------------------*/

.cart-main-container{
    background-color: var(--whitesmoke-color);
}


.cart-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 2rem 1rem;
    padding: 1rem;
    gap: 1rem; 
    min-height: calc(100vh - var(--footer-height) - var(--nav-height) - 1rem - 1rem - 1rem - 1rem);
}

.empty-cart-container{
    min-height: calc(100vh - var(--footer-height) - var(--nav-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.cart-empty-text{
    color: var(--font-color-grey);
    font-size: 5rem;
}

.shopping-cart{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    gap: 1rem;
}

.subtotal-payment{
    align-self: end;
}

.left-align{
    align-self: start;
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 3rem 1rem;
    align-self: start;
    background-color: var(--white-color);
}

.payment h3{
    font-weight: 500;
}

.shipping-cart-grid{
    display: grid;
    grid-template-columns: 8fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.price-section{
    justify-self: flex-end;
}

.price-section p{
    color: var(--secondary-color);
}

.horizontal-line{
    margin: 0;
}

.shipping-details-section{
    display: flex;
    gap: 1rem;
}

.cart-item-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-product-name{
    font-size: var(--p-font-size);
    font-weight: 600;
}

.cart-product-delivery-date{
    font-size: var(--a-font-size);
}

.cart-additional-options{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-additional-options a{
    font-size: var(--a-font-size);
}

.link-text-cart{
    cursor: pointer;
    color: #007185;
    outline: none;
    border: none;
    background-color: var(--white-color);
}

.link-text-cart:hover, .link-text-cart:active{
    text-decoration: underline;
}

/* .payment{
    line-height: 1.2;
} */

.cart-item-image{
    width: 12rem;

}

.vertical-line{
    border: 1px solid #e4e4e4;
    width: 1px;
    height: 1.6rem;
}

.cart-payment-gift-checkbox{
    display: flex;
    gap: 5px;
    align-items:center;
}


/* -------------------------- Login or Register -------------------------- */

.login-container{
    width: 100%;
}

.login-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.login-card-container img{
    margin-top: 1rem;
}

.login-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.login-card-container_title{
    text-align: center;
    font-size: 2rem;
    font-weight: var(--bold-font-weight);
    margin-bottom: 1rem;
}

.login-card{
    padding: 1.4rem 2rem;
    border: 1px solid #d7d9d9;
    border-radius: 8px;
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.horizontal-line{
    background-color: #d7d9d9;
    width: 100%;
    height: 0.5px;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-box input{
    font-size: var(--a-font-size);
    height: 2.6rem;
    outline: none;
    padding: 0px 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #a6a7a7;
}

.login-submit-button{
    font-size: var(--a-font-size); /* 11px */
    background-color:var(--secondary-color);
    margin-top: 8px;
    padding: 6px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    color: var(--white-color);
}

/* #signin-large-text{
    margin-bottom: 8px;
    font-size: var(--p-font-size);
} */

.login-card p{
    font-size: var(--a-font-size);
    color: var(--secondary-color);
}

.login-card a{
    font-size: var(--a-font-size);
    color: #5151f1;
}

.login-card a:hover, .login-card a:active{
    text-decoration: underline;
}


#p-heading{
    font-size: var(--a-font-size);
    font-weight: var(--bold-font-weight);
    margin-bottom: 5px;
}

.login-footer div{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


.login-footer div a:link, .login-footer div a:visited{
    font-size: var(--small-font-size);
    color: #5151f1;
}

.login-footer div a:hover, .login-footer div a:active{
    text-decoration: underline;
}


.login-footer p{
    font-size: var(--small-font-size);
    color: #565959;
}

.input-box .small-9-px-text, .login-card .small-9-px-text{
    line-height: 1.6;
    font-size: var(--small-font-size);
}

.product-details{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 5px 10px;
}

.product-images-section{
    width: 46vw;
    display: flex;
    background-color: var(--white-color);
    border-radius: 1rem;
    border: 1px solid #d2d1d1c8;
    position: sticky;
    top: calc(var(--nav-height) + 5px);
    height: calc(100vh - var(--nav-height));
}

.product-images-section_main-image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-main-image{
    /* width: 100%; */
    height: calc(100vh - var(--nav-height) - 4rem - 1rem);
    border-radius: 1rem;
    padding: 3px 0px;
}

.product-images-list{
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    gap: 5px;
    margin-right: 4px;
    width: 100%;
    height: calc(100vh - var(--nav-height));
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}


.product-images-list::-webkit-scrollbar {
  height: 6px;
}

.product-images-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.product-images-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.product-images-list::-webkit-scrollbar-track {
  background: transparent;
}


.product-images-list_image{
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid #d2d1d1c8;
}

.product-price-section{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 1rem;
}

.new-price{
    font-weight: 500;
    font-size: 2rem;
}

.old-price{
    font-size: 1.6rem;
    text-decoration: line-through;
    margin-right: 1rem;
    color: var(--font-color-grey);
}

.offer-percentage{
    color:  var(--white-color);
    font-weight: var(--bold-font-weight);
    background-color: #CC0C39;
    padding: 4px;
    border-radius: 2px;
}

.product-rating-section{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 2rem;
}

.product-info{
    margin: 1rem 0px;
    color: var(--font-color-grey);
}

.in-stock{
    margin-bottom: 1rem;
    text-align: center;
    width: 6rem;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
    font-size: var(--small-font-size);
}

.product-details_content{
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    border: 1px solid #d2d1d1c8;
}

.product-details_content_title{
    font-size: var(--h4-font-size);
}

.related-products-section_title{
    font-size: var(--h4-font-size);
    text-align: center;
    margin-top: 2rem;
}

.product-button-section{
    display: flex;
    padding: 5px;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.technical-spec-section{
    margin-top: 2rem;
}

.technical-spec-section_title, .shopping-cart_title{
    font-size: 2rem;
}

.technical-spec_feature{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: var(--font-color-grey);
}


/* ------------------ Components-----------------------*/
a.btn, button.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p-font-size);
    border: 2px solid var(--secondary-color);
    height: 3rem;
    /* max-width: 30rem; */
    border-radius: 4rem;
    width: 22rem;
    cursor: pointer;
}

.add-to-cart-button{
    /* padding: 6px 12px; */
    color: var(--white-color);
    background-color: var(--secondary-color);
    transition: 1s ease;
}

.proceed-button{
    color: var(--white-color);
    padding: 6px 12px;
    min-width: 10rem;
    border-radius: 4rem;
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    max-width: 30rem;
}

.proceed-button:hover, .proceed-button:active{
    cursor: pointer;
    background-color: var(--secondary-color);
}

.cart-dynamic-button{
    width: 10rem;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    background-color: var(--white-color);
    border: 3px solid var(--secondary-color);
    border-radius: 2rem;
}

.cart-dynamic-button button{
    flex: 1;
    display: inline-block;
    border: none;
    background-color: var(--white-color);
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 2rem;
}

.buy-now-button{
    color: var(--secondary-color);
    background-color: var(--white-color);
    transition: 1s ease;
}

.cart-dynamic-button h3{
    margin-bottom: 0;
    vertical-align: middle;
}

.cart-added-item-button{
    width: 22rem;
    display: flex;
    height: 3rem;
    border-radius: 4rem;
    border: 2px solid var(--secondary-color);
}

.update-quantity-button{
    flex-grow: 1;
    border-radius: 4rem;
    border: none;
    background-color: var(--white-color);
}

.update-quantity-button:hover, .update-quantity-button:active{
    cursor: pointer;
}


/* ------------------------- Profile -------------------- */

.profile-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
}

.no-orders-container{
    font-size: 3.2rem;
    text-align: center;
    margin-top: 5rem;
    color: var(--font-color-grey);
}

.orders-container{
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.6rem;
    border-radius: 2rem;
    background-color: var(--white-color);

}

.orders-container_heading{
    margin-bottom: 2rem;
    font-size: var(--p-font-size);
    font-weight: 600;
}

.order{
    height: 23rem;
    display: flex;
    border-radius: 2rem;
    gap: 1.6rem;
    background-color: #ebfaf5;
    padding: 2rem;
}

.order-image{
    width: 10rem;
    height: 10rem;
    border-radius: 1.6rem;
}

.order-item-heading{
    font-size: var(--p-font-size); /* 1.6rem or 1.8rem */
    margin-bottom: 3px;
    font-weight: 500;
}

.grey-text{
    color: var(--font-color-grey);
}

.text-1_2rem{
    font-size: var(--a-font-size);
}

.order-buttons-container{
    margin-top: 1.5rem;
    display: flex;
}

.order-details-section{
    margin: 1.6rem 0px;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.profile{
    width: 95%;
    margin: 15px auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--white-color);
    position: relative;
}

.profile_title{
    font-size: var(--p-font-size);
    font-weight: 600;
}

.account-section{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.edit-information-button{
    color:  var(--white-color);
    position: absolute;
    right: 3rem;
    top: 2.5rem;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 1rem;
    border: none;
}

.edit-information-button:hover, .edit-information-button:active{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.cancel-information-button{
    width: 80px;
    color: var(--primary-color);
    position: absolute;
    right: 12rem;
    top: 2.5rem;
    background-color: var(--white-color);
    padding: 5px 10px;
    border-radius: 1rem;
    border: 1px solid var(--secondary-color);
    transition: 1s ease;
}

.cancel-information-button:hover, .cancel-information-button:active{
    cursor: pointer;
    transform: scale(1.1);
}

.save-information-button{
    width: 8rem;
    color: var(--white-color);
    position: absolute;
    right: 3rem;
    top: 2.5rem;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 1rem;
    border: 1px solid var(--secondary-color);
    transition: 1s ease;
}

.save-information-button:hover, .save-information-button:active{
    cursor: pointer;
    transform: scale(1.1);
}

.profile-image-container{
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    position: relative;
}

.image-upload-button{
    position: absolute;
    width: 2rem;
    height: 2ren;
    border-radius: 50%;
    background-color: var(--white-color);
    top: 75%;
    left: 75%;
}

.image-upload-button:hover, .image-upload-button:active{
    cursor: pointer;
}

.image-upload-input{
    display: none;
}

.account-information-inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.username-label{
    display: inline-block;
    font-size: var(--p-font-size);
    width: 8rem;
}

.email-label{
    display: inline-block;
    font-size: var(--p-font-size);
    width: 8rem;
}

#id-username{
    width: 20rem;
    height: 2.4rem;
    padding: 2px 4px;
}

#id-email{
    width: 20rem;
    height: 2.4rem;
    padding: 2px 4px;
}

.profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-email{
    color: var(--font-color-grey);
}

.nav-user-profile{
    width: 100%;
    transition: 0.5s ease-in;
}

.nav-user-profile:active, .nav-user-profile:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.nav-user-profile-container{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.nav-user-profile-container:hover, .nav-user-profile-container:active{
    transform: scale(1.05);
}



/* ---------------------Django-------------------------- */

.input-box .form-errors{
    color: red;
    font-size: var(--a-font-size);
    margin-bottom: 4px;
}


/* -----------------------Animation------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bump{
    0%{
        opacity: 0;
        transform: translateX(250%) translateY(0%);
    }

    25%{
        transform: translateX(200%) translateY(-100%);
    }

    50%{
        transform: translateX(150%) translateY(0%);
    }

    75%{
        transform: translateX(100%) translateY(-50%);
    }

    95%{
        transform: translateX(50%) translateY(0%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%) translateY(0%);
    }
}
